html, body {
    height: 100%;
    margin: 0;
    background: url("../images/main-bg.png") #097054;
}

.container {
    background-color: white;
    height: 100%;
    padding: 10px;
}

.login-container {
    padding-top: 200px;
    z-index: 200;
    background: transparent;
}

.container.login-container {
    background: inherit;
}

table tbody>tr>th.min-width,
table tbody>tr>td.min-width {
    width: 1px;
    white-space: nowrap;
}

.table-xs-buttons tbody>tr>td {
    line-height: 26px;
}