html, body {
    height: 100%;
    margin: 0;
    background: url("../images/main-bg.png") #097054;
}

.container {
    background-color: white;
    height: 100%;
    padding: 10px;
}

.login-container {
    background: transparent;
}

.site-title {
    text-align: center;
    margin-bottom: 20px;
}

.site-title h1 {
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    text-shadow: 0 0 10px #CCC;
    margin-top: 30px;
    margin-bottom: 25px;
}

p {
    text-shadow: 0 0 1px #CCC;
}

table tbody>tr>th.min-width,
table tbody>tr>td.min-width {
    width: 1px;
    white-space: nowrap;
}

.table-xs-buttons tbody>tr>td {
    line-height: 26px;
}

/* Util classes */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/* Add missing paddings in Bootstrap RC2 */

.panel {
    padding: 15px;
}

.panel .panel-heading {
    margin: -15px -15px 15px;
}