html, body {
    height: 100%;
    margin: 0;
    background: url("../images/main-bg.png") #097054;
}

.container {
    background-color: white;
    height: 100%;
    padding: 10px;
}

.login-container {
    padding-top: 200px;
    z-index: 200;
    background: transparent;
}

.container.login-container {
    background: inherit;
}