@(groups: List[GameGroup], form: DynamicForm)

@main("gamegroups"){ } {

    @if(groups.isEmpty()) {
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="glyphicon glyphicon-warning-sign"></i> <strong>Warning!</strong> You have no game groups.
            <br/><br/>
            <i>You need at least one game group to use Squashler!</i>
        </div>
    }

    <div class="panel panel-success">
        <div class="panel-heading">
            <h1 class="panel-title">Groups</h1>
        </div>

        <div class="panel-body">

            <p>
                @if(form.hasErrors) {
                    <div class="alert alert-danger">
                        <strong>Error!</strong>
                        Unable to insert player!
                        @for(errList <- form.errors()) {
                            @for(err <- errList._2) {
                                <br/> <span class="glyphicon glyphicon-warning-sign"></span> @err.message()
                            }
                        }
                    </div>
                }

                <form class="form-inline" action="@routes.GameGroupPortal.insertGameGroup()" method="post">
                    <div class="form-group @if(form.field("name").hasErrors) { has-error }">
                        <div>
                            <input type="text" id="name" name="name" placeholder="New game group" value="@form.get("name")" class="form-control" autofocus/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-success" name="insert">Add <span class="glyphicon glyphicon-ok"></span></button>
                        </div>
                    </div>
                </form>
            </p>

            <table class="table table-condensed table-striped table-hover table-xs-buttons">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
                @for(gameGroup <- groups) {
                    <tr>
                        <td>@gameGroup.id</td>
                        <td><a href="@routes.GameGroupPortal.selectGameGroup(gameGroup.id)">@gameGroup.name</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>

}
