@(gameForm: DynamicForm, players: List[Player])

@if(gameForm.hasErrors) {
    <div class="alert alert-danger">
        <strong>Error!</strong>
        Unable to insert game!
        @for(errList <- gameForm.errors()) {
            @for(err <- errList._2) {
                <br/> <span class="glyphicon glyphicon-warning-sign"></span> @err.message()
            }
        }
    </div>
}

<form class="form-horizontal" action="@routes.Application.insert()" method="post">
    <div class="form-group @if(gameForm.field("date").hasErrors) { has-error }">
        <label for="date" class="col-xs-2 control-label">Date</label>
        <div class="col-xs-10">
            <input type="text" id="date" name="date" placeholder="date" value="@gameForm.get("date")" class="form-control" autofocus/>
        </div>
    </div>
    <div class="form-group @if(gameForm.field("playerLeft").hasErrors || gameForm.field("playerRight").hasErrors) { has-error }">
        <label for="playerLeft" class="col-xs-2 control-label">Players</label>
        <div class="col-xs-5">
            <select name="playerLeft" id="playerLeft" class="form-control" placeholder="player left">
                @for(player <- players) {
                    <option value="@player.name">@player.name</option>
                }
            </select>
        </div>
        <div class="col-xs-5">
            <select name="playerRight" id="playerRight" class="form-control" placeholder="player right">
            @for(player <- players) {
                <option value="@player.name">@player.name</option>
            }
            </select>
        </div>
    </div>
    <div class="form-group @if(gameForm.field("pointsLeft").hasErrors || gameForm.field("pointsRight").hasErrors) { has-error }">
        <label for="pointsLeft" class="col-xs-2 control-label">Points</label>
        <div class="col-xs-5">
            <input type="text" id="pointsLeft" name="pointsLeft" placeholder="points left" value="@gameForm.get("pointsLeft")" class="form-control"/>
        </div>
        <div class="col-xs-5">
            <input type="text" id="pointsRight" name="pointsRight" placeholder="points right" value="@gameForm.get("pointsRight")" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-sm-5 col-sm-offset-7 col-lg-5 col-lg-offset-7">
            <button type="submit" class="btn btn-block btn-success" name="insert">Submit <span class="glyphicon glyphicon-ok"></span></button>
        </div>
    </div>
</form>