@(allGames: List[Game], gameForm: Form[Game])

@main("squashler") {

    <table>
        <tr>
            <th>Game</th>
            <th>Date</th>
            <th>Player 1</th>
            <th>Before</th>
            <th>Stake</th>
            <th>After</th>
            <th>Player 2</th>
            <th>Before</th>
            <th>Stake</th>
            <th>After</th>
            <th>Result</th>
            <th>Winner</th>
        </tr>
        @for((game, index) <- allGames.zipWithIndex) {
            <tr>
                <td>@game.id</td>
                <td>@game.date.format("yyyy-MM-dd")</td>
                <td>@game.playerLeft.name</td>
                <td></td>
                <td></td>
                <td></td>
                <td>@game.playerRight.name</td>
                <td></td>
                <td></td>
                <td></td>
                <td>@game.pointsLeft - @game.pointsRight</td>
                <td></td>
            </tr>
        }
    </table>

    @if(gameForm.hasErrors) {
        <div class="alert alert-error">
            <strong>Unable to insert game!</strong>
        </div>
    }
    <form action="@routes.Application.insert()" method="post">
        <input type="text" name="date" placeholder="date" value="2013-06-27"/>
        <input type="text" name="playerLeft" placeholder="player left" value=""/>
        <input type="text" name="playerRight" placeholder="player right" value=""/>
        <input type="text" name="pointsLeft" placeholder="points left" value=""/>
        <input type="text" name="pointsRight" placeholder="points right" value=""/>
        <input type="submit" name="insert" value="Insert"/>
    </form>

}
