@(calc: util.StandingsCalculator, gameForm: DynamicForm, players: List[Player])

@main("overview") { <script type="text/javascript" src="@routes.Assets.at("javascripts/overview.js")"></script> } {

    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h1 class="panel-title">Register</h1>
                </div>
                <div class="panel-body">
                    @newGameForm(gameForm, players)
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h1 class="panel-title">Ranking</h1>
                </div>

                <div class="panel-body">
                    <table class="table table-condensed table-striped table-hover">
                        <tr>
                            <th>Pos.</th>
                            <th>Player</th>
                            <th>Points</th>
                            <th>
                                <span class="hidden-xs">Played</span>
                                <span class="visible-xs">P</span>
                            </th>
                            <th>
                                <span class="hidden-xs">Wins</span>
                                <span class="visible-xs">W</span>
                            </th>
                            <th>
                                <span class="hidden-xs">Losses</span>
                                <span class="visible-xs">L</span>
                            </th>
                            <th>%</th>
                        </tr>
                        @for((wrapper, index) <- calc.getPlayers.zipWithIndex) {
                            <tr>
                                <td>@{index + 1}</td>
                                <td>@wrapper.getPlayer().name</td>
                                <td>@wrapper.getCurrentPoints()</td>
                                <td>@wrapper.getNbrGames()</td>
                                <td>@wrapper.getWins()</td>
                                <td>@wrapper.getLosses()</td>
                                <td>@{100 * wrapper.getWins() / wrapper.getNbrGames()}</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h1 class="panel-title">Results</h1>
            Filter matches:
            <select name="playerOne" id="playerOne" onchange="javascript:selectedPlayerOne()">
                <option value="">Select player 1</option>
                @for(player <- players) {
                    <option value="@player.name" @if(player.name.equals(gameForm.get("playerOne"))) { selected="selected" }>@player.name</option>
                }
            </select>
            <select name="playerTwo" id="playerTwo" style="display: none;">
                <option value="">Select player 2</option>
                @for(player <- players) {
                <option value="@player.name" @if(player.name.equals(gameForm.get("playerTwo"))) { selected="selected" }>@player.name</option>
                }
            </select>
            <button type="button" class="btn btn-success btn-xs" id="filterPlayers" onclick="javascript: filterPlayers();">Filter!</button>
        </div>

        <div class="panel-body">
            <table class="table table-condensed table-striped table-hover table-xs-buttons" id="matchTable">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Left</th>
                    <th>Right</th>
                    <th colspan="3" class="text-center">Result</th>
                    <th class="text-right hidden-xs">Before</th>
                    <th class="text-right hidden-xs">Stake</th>
                    <th class="text-right hidden-xs">After</th>
                    <th class="text-right hidden-xs">Before</th>
                    <th class="text-right hidden-xs">Stake</th>
                    <th class="text-right hidden-xs">After</th>
                </tr>
                </thead>
                <tbody>
                @for(wrapper <- calc.getGames) {
                    @defining(wrapper.getGame) { game =>
                    <tr>
                        <td>@game.date.format("yyyy-MM-dd")</td>
                        <td class="playerLeft">@game.playerLeft.name</td>
                        <td class="playerRight">@game.playerRight.name</td>
                        <td class="text-right">@game.pointsLeft</td>
                        <td class="text-center">-</td>
                        <td class="text-left">@game.pointsRight</td>
                        <td class="text-right hidden-xs">@wrapper.getLeftPointsBefore()</td>
                        <td class="text-right hidden-xs">@wrapper.getLeftStake()</td>
                        <td class="text-right hidden-xs">@wrapper.getLeftPointsAfter()</td>
                        <td class="text-right hidden-xs">@wrapper.getRightPointsBefore()</td>
                        <td class="text-right hidden-xs">@wrapper.getRightStake()</td>
                        <td class="text-right hidden-xs">@wrapper.getRightPointsAfter()</td>
                    </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>

}
