@(calc: util.StandingsCalculator, gameForm: DynamicForm)
@import play.data.DynamicForm

@main("squashler") {

    <div class="row">
        <div class="col-lg-5">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h1 class="panel-title">Register</h1>
                </div>

                @if(gameForm.hasErrors) {
                    <div class="alert alert-error">
                        <strong>Unable to insert game!</strong>
                    </div>
                }
                <form class="form-horizontal" action="@routes.Application.insert()" method="post">
                    <div class="form-group">
                        <label for="date" class="col-lg-2 control-label">Date</label>
                        <div class="col-lg-10">
                            <input type="text" id="date" name="date" placeholder="date" value="2013-06-27" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="playerLeft" class="col-lg-2 control-label">Players</label>
                        <div class="col-lg-5">
                            <input type="text" id="playerLeft" name="playerLeft" placeholder="player left" value="" class="form-control player-typeahead"/>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" id="playerRight" name="playerRight" placeholder="player right" value="" class="form-control player-typeahead"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pointsLeft" class="col-lg-2 control-label">Points</label>
                        <div class="col-lg-5">
                            <input type="text" id="pointsLeft" name="pointsLeft" placeholder="points left" value="1" class="form-control"/>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" id="pointsRight" name="pointsRight" placeholder="points right" value="0" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 col-sm-offset-2">
                            <input type="submit" name="insert" value="Submit" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-7">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h1 class="panel-title">Ranking</h1>
                </div>

                <table class="table table-condensed table-striped table-hover">
                    <tr>
                        <th>Pos.</th>
                        <th>Player</th>
                        <th>Points</th>
                        <th>Games</th>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>%</th>
                    </tr>
                    @for((wrapper, index) <- calc.getPlayers.zipWithIndex) {
                        <tr>
                            <td>@{index + 1}</td>
                            <td>@wrapper.getPlayer().name</td>
                            <td>@wrapper.getCurrentPoints()</td>
                            <td>@wrapper.getNbrGames()</td>
                            <td>@wrapper.getWins()</td>
                            <td>@wrapper.getLosses()</td>
                            <td>@{100 * wrapper.getWins() / wrapper.getNbrGames()}</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h1 class="panel-title">Results</h1>
        </div>

        <table class="table table-condensed table-striped table-hover table-xs-buttons">
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Date</th>
                <th>Player 1</th>
                <th>Before</th>
                <th>Stake</th>
                <th>After</th>
                <th>Player 2</th>
                <th>Before</th>
                <th>Stake</th>
                <th>After</th>
                <th>Result</th>
                <th>Winner</th>
                <th class="min-width">&nbsp</th>
            </tr>
            @for((wrapper, index) <- calc.getGames.zipWithIndex) {
                <tr>
                    <td>@wrapper.getGame().gameNbr</td>
                    <td>@wrapper.getGame().id</td>
                    <td>@wrapper.getGame().date.format("yyyy-MM-dd")</td>
                    <td>@wrapper.getGame().playerLeft.name</td>
                    <td>@wrapper.getLeftPointsBefore()</td>
                    <td>@wrapper.getLeftStake()</td>
                    <td>@wrapper.getLeftPointsAfter()</td>
                    <td>@wrapper.getGame().playerRight.name</td>
                    <td>@wrapper.getRightPointsBefore()</td>
                    <td>@wrapper.getRightStake()</td>
                    <td>@wrapper.getRightPointsAfter()</td>
                    <td>@wrapper.getGame().pointsLeft - @wrapper.getGame().pointsRight</td>
                    <td>@wrapper.getWinningPlayer().name</td>
                    <td class="min-width">
                        <form action="@routes.Application.removeGame(wrapper.getGame.id)" method="post">
                            <input type="submit" class="btn btn-xs btn-danger" value="Remove"/>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>

}
